:root {
    font-size: 16px;
    
}

body {
    background-color: cornflowerblue;
    height: 100vh;
}

#main-container {
    /* background-image: url(../pictures/pexels-asad-photo-maldives-3293148.jpg); */
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;   
}

#second-container {
    display: flex;
    justify-content: center;
}


.title {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

#inputTitle {
    color: #ffffff;
}


form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
}

.entire-display {
    display: flex;
    justify-content: center;
    overflow: overlay;
    
}

.weatherCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 15px;
    width: 250px;
    box-shadow: 10px 10px;
    border-radius: 50%;
    text-align: center;
    
}

.hiddenWeather {
    display: none;
}


.activity-display-container li {
    border-radius: 5px;
    margin: 25px;
    /* align-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    background-color: #ffffff;
    box-shadow: 10px 10px;
    width: 300px;
    height: 350px;
    padding: 50px

}

.entire-display h1 {
    font-size: 1.75em;
    font-weight: 600;
}

.activity-display-container {
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-title {
    font-family: 'Oswald', sans-serif;


}

.entire-display {
    background-color: cornflowerblue;
}

/* #history {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: white;
    

} */

#second-container {
    overflow: hidden;
}

.storage {
    margin-bottom: 100px;
}

.renderBtn {
    padding: 20px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}

.renderedInfo {
    display: none;
}

.storage {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.infoHere {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 30rem) {
    .weatherCards {
    display: flex;
    
    }

}

@media only screen and (max-width: 30rem) {
    .activity-display-container li {
        background-color: black;
        color: #ffffff;
        box-shadow: 10px 10px;
    }

}